<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.hpu.yuan.yuannews">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".main.app.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_news"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".news.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".news.newslist.NewsActivity" />
        <activity android:name=".news.newsdetail.NewsDetailActivity"/>
        <activity android:name=".user.login.LoginActivity"/>
        <activity android:name=".user.register.RegisterActivity"/>
        <activity android:name=".user.center.CenterActivity"/>
        <activity android:name=".user.userIfo.UserifoActivity"/>
        <activity android:name=".user.label.LabelActivity"/>
        <activity android:name=".news.labels.LabelsActivity"/>
        <activity android:name=".news.comment.CommenActivity"/>
    </application>

</manifest>